{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>test</title>
</head>
<body>
  <main>
    <div>
      <h1>
        {{ todo_object.name }}
      </h1>
      <h2>
        Tasks
      </h2>
      <h1>
        <div>
        <a href="{% url 'todo_list_update' todo_object.id %}">Edit</a>
        <p><a href="{% url 'todo_list_delete' todo_object.id %}">Delete</a></p>
        </div>
      </h1>
      <table>
        <tr>
        <th>Task</th>
        <th>Due date</th>
        </tr>
        <tbody>
        {% for stuff in todo_object.items.all %}
        <tr>
            <td><a href="{% url 'todo_item_update' todo_object.id %}">{{ stuff.task }}</a></td>
            <td>{{ stuff.due_date }}</td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
  </main>
</body>
</html>