{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yee</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p><a href="{% url 'todo_list_create' %}">Create a to do list</a></p>
            <p><a href="{% url 'todo_item_create' %}">Create New Item</a></p>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of Items</th>
                </tr>
                {% for todos in todo_list1 %}
                <tr>
                    <td><a href="{% url 'todo_list_detail' todos.id %}">{{ todos.name }}</a></td>
                    <td>{{ todos.items.all.count }} </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>

</body>
</html>